@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-light: #0f0f0f !important;
  --toastify-toast-max-height: 44px !important;
  --toastify-toast-min-height: 44px !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.Toastify__toast-body {
  padding: 0 !important;
  @apply bg-background-1
}

@font-face {
  font-family: "determination";
  src: url("/fonts/Determination/SVN-Determination.otf");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@layer base {

  html,
  body {
    @apply h-full;
  }

  body {
    @apply text-base font-roboto bg-background-1 text-text-main overflow-hidden;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-pure-white;
  }
}

/* box shadow 3d */
.box-shadow-lb {
  box-shadow: 0.5rem 0.5rem rgba(255, 7, 107, 0.5);
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #005dff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.bg-predict-winrate {
  background-image: url("/images/history/bg_predict_winrate.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}